[submodule "submodules/eigen"]
	path = submodules/eigen
	url = ../../eigenteam/eigen-git-mirror.git
[submodule "submodules/wirth-tools"]
	path = submodules/wirth-tools
	url = ../../phillipstanleymarbell/Wirth-tools.git
[submodule "submodules/libflex"]
	path = submodules/libflex
	url = ../../phillipstanleymarbell/libflex.git
[submodule "submodules/dtrace-scripts"]
	path = submodules/dtrace-scripts
	url = ../../phillipstanleymarbell/DTrace-scripts.git
[submodule "submodules/llvm-project"]
	path = submodules/llvm-project
	url = https://github.com/llvm/llvm-project
