# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Clang analyzer reports and bitcode
*.plist
*.bc


# Misc
.DS_Store

# Noisy specific
version.c
noisy/noisy.pb-c.c
noisy/noisy.pb-c.h
noisy-darwin-EN
noisycgi-darwin-EN
newton-darwin-EN
newtoncgi-darwin-EN
test-darwin-EN
noisy-linux-EN
noisycgi-linux-EN
newton-linux-EN
newtoncgi-linux-EN
test-linux-EN
.noisy-last-head
latest.txt
config.local
