[submodule "submodules/eigen"]
	path = submodules/eigen
	url = git@github.com:eigenteam/eigen-git-mirror.git
[submodule "submodules/wirth-tools"]
	path = submodules/wirth-tools
	url = git@github.com:phillipstanleymarbell/Wirth-tools.git
[submodule "submodules/libflex"]
	path = submodules/libflex
	url = git@github.com:phillipstanleymarbell/libflex.git
[submodule "submodules/dtrace-scripts"]
	path = submodules/dtrace-scripts
	url = git@github.com:phillipstanleymarbell/DTrace-scripts.git
